.about-sectionn {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.grid-item {
    /* flex-basis: 100%; */
    flex: 1;
}

.large-image-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.large-image {
    width: 400px;
    height: 570px;
    background-color: #484848;
    border-radius: 2rem;
}


.capabilities-section {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Manrope", sans-serif;
}

.experience {
    border: 1px solid #484848;
    border-radius: 100px;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    margin: 0 0.5rem;
}



.experience-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#company {
    color: #D3E97A;
    font-size: 16px;
    padding-bottom: 1rem;

}

.flex-btw-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.flex-btw-about .role {
    font-size: 24px;
}
.about-text{
    font-size: 60px;
    font-family: 'DM Sans', sans-serif;
    color: #181717;
}
.intro-mini{
    color: #606060;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
}

.flex-btw-about .time {
    font-size: 18px;
    padding-top: -1rem;
    color: #C7C7C7;
}

.doings {
    color: #C7C7C7;
}

.top-pad {
    padding-top: 1rem;
}

@media screen and (max-width: 900px) {
    .capabilities-section {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .about-sectionn {
        display: flex;
        flex-wrap: wrap;
    }

    .experience {
        padding: 0.7rem 1rem;
        margin: 0 0.2rem;
    }

    .pad-top {
        padding-top: 1rem;
    }

    .large-image {
        width: 100%;

    }

    .flex-btw-about .role {
        font-size: 17px;
    }

    .flex-btw-about .time {
        font-size: 15px;


    }

    .flex-btw-about {
        margin-top: 3rem;
    }

    #company {
        color: #D3E97A;
        font-size: 14px;
        padding-bottom: 1rem;

    }
}